/* Colors based on Nord theme, look there for color options */
.card {
    /* Variables */

    /* Colors */
    --snow-storm-white: #eceff4;
    --outer-border-color: #4c566a;
    --kbd-background: #3b4252;
    --note-background: #2e3440;
    --kbd-shadow: #4c566a;
    --aurora-green: #a3be8c;
    --aurora-red: #bf616a;
    --divider-color: #4c566a;

    /* Distances */
    --top-margin: 0.9em;
    
    /* Borders */
    --outer-border: 0.05em solid var(--outer-border-color);

    /* Misc */
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: var(--snow-storm-white);
}

.note {
    border: var(--outer-border);
    border-radius: 4px;
    background-color: var(--note-background);
    padding: 0.4em;
    margin-top: var(--top-margin);
}

/* #### FRONT #### */
.title-container {
    margin-top: calc(-1 * var(--top-margin));
}

.title-text {
    /* Text */
    font-weight: bolder;
    font-family: monospace;
    text-align: center;
    font-size: 15px;
    text-shadow: 0.05em 0 rgb(53, 53, 53);
    color: var(--snow-storm-white);
    
    /* Box */
    padding: .1em .7em;
    border: var(--outer-border);
    border-radius: 11px;
    background-color: var(--aurora-red);
    
    /* Placement */
    margin: 0 auto;
}

div.front-container {
    padding: 0.3em;
    margin: auto;
}

/* #### BACK #### */
hr.card-divider {
    border: none;
    border-top: 2px dotted var(--divider-color);
    background-color: transparent;
    margin: 0;
}

/* Keyboard keys */
kbd {
    /* Text */
    font-family: monospace;
    text-shadow: none !important;
    
    /* Box */
    border: 1px solid var(--aurora-green);
    border-radius: 3pt;
    background-color: var(--kbd-background);
    box-shadow: 0 2px 3px var(--kbd-shadow);
    
    /* Placement */
    margin: .2em;
    padding: .1em .6em;
}

/* Container for shortcuts */
.shortcut-container {
    color: var(--aurora-green);
    font-size: x-large;
    text-shadow: var(--kbd-shadow);
    text-align: center !important;
    padding-top: 0.7em;
    margin: auto;
}